@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

html {
	scroll-behavior: smooth;
	background-color: var(--color-background);
	overflow-x: hidden;
	width: 100vw;
}

body {
	width: 100vw;
	background-color: var(--color-background-secondary);
	font-family: var(--font-primary);
	color: var(--color-text);
	font-weight: 400;
	text-wrap: balance;
	transition: all 200ms linear;
	overflow-x: hidden;
}

img {
	display: block;
}

a {
	color: var(--link-color);
}

code {
	background-color: #e9f1f6;
	padding: 0.2rem;
	border-radius: 4px;
}

pre.code {
	overflow-x: auto;
	background-color: #e9f1f6;
	padding: 1rem;
	border-radius: 4px;
}
.no-sroll {
	height: 100vh;
	overflow-y: hidden;
}