.footer {
    width: 100%;
    padding-top: 36px;
    padding-bottom: 36px;
    background-color: var(--color-foreground);
    &__container {}

    // .footer__row

    &__row {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 24px;
    }

    // .footer__copyright

    &__copyright {
        color: var(--color-text);
        font-weight: 500;
        font-size: 14px;
    }

    // .footer__author-site

    &__author-site {
        color: #fff;
        font-size: 14px;
    }

    // .footer__author-siteBold

    &__author-siteBold {
        font-weight: 600;
        font-size: 18px;
    }
}
