.header {
	width: 100%;
	background-color: var(--color-foreground);
	&__container {}

	// .header__row

	&__top-row {
		width: 100%;
		display: flex;
		justify-content: space-between;
		gap: 24px;
	}

	// .header__col-left

	&__col-left {
		display: flex;
		gap: 32px;
		@include small-tablet {
			position: relative;
			flex: 1;
		}
	}

	// .header__logo

	&__logo {
		display: flex;
		align-items: center;
		height: 70px;
	}

	// .header__search-form

	&__search-form {
		height: 70px;
	}

	// .header__colRight

	&__col-right {
		
	}

	// .header__actions

	&__actions {
		display: flex;
		column-gap: 22px;
	}

	// .header__actions-item

	&__actions-item {
		display: inline-flex;
		&:first-child {
			display: none;
			@include small-tablet {
				display: inline-flex;
			}
		}
	}

	// .header__actions-buttonTheme

	&__actions-buttonTheme {
		height: 70px;
		font-size: 22px;
		color: var(--color-text);
	}
	
	&__actions-buttonSearch {
		height: 70px;
		font-size: 22px;
		color: var(--color-text);
	}
}